<a href="https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Advanced_ML_AI/Clase_03_Intro_Redes_Neuronales/03A_Introducci%C3%B3n_Redes_Neuronales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01 INTRODUCCIÓN
En este notebook introduciremos el concepto de redes neuronales utilizando como ejemplo el ejercicio CHALLENGE sobre churn en una empresa telco.



Notebook por [Javier Blanco Cordero](https://www.linkedin.com/in/javier-blanco-cordero-71373656/).

### Enlaces de interés
*   [Slides de presentación](https://docs.google.com/presentation/d/1vFXqP9QBoipKkGjajyqZEDelGllNueR51kBmXCGWzck/edit?usp=sharing)
*   [Enlace a este notebook](https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Advanced_ML_AI/Clase_02_Optimizacion_Modelos/02B_%7C_Ejercicio_CHALLENGE.ipynb)
*   [Enlace a este notebook ejercicio CHALLENGE](https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Advanced_ML_AI/Clase_02_Optimizacion_Modelos/02B_%7C_Ejercicio_CHALLENGE.ipynb)

## 0101 Import
Puedes importar aquí las librerías que creas que vas a necesitar.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import graphviz

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn import ensemble

## 0102 Carga el dataset del Churn Telco para ENTRENAR
Aquí teneis el url del archivo raw del dataset de churn en una empresa Telco. OJO: este es el dataset para entrenar vuestro modelo, sobre el que conocemos el target (si un cliente ha realizado o no churn). 

https://raw.githubusercontent.com/JotaBlanco/TheValley/main/Data/CHURN_DF_train.csv

Importa los datos en un dataframe llamado **dataframe df**.

In [11]:
# Url archivo raw
url = 'https://raw.githubusercontent.com/JotaBlanco/TheValley/main/Data/CHURN_DF_train.csv'

# Importa csv
df = pd.read_csv(url, sep=',')

# Pequeña limpieza
df.loc[df['TotalCharges']==" ", 'TotalCharges'] = np.NaN
df['TotalCharges'] = df['TotalCharges'].astype(float)

print(len(df))

# Visualización primeras filas
df.head()

5043

   customerID  gender  ...  PaymentMethod_Mailed check  Churn
0  3668-QPYBK    Male  ...                           1      1
1  9237-HQITU  Female  ...                           0      1
2  9305-CDSKC  Female  ...                           0      1
3  1452-KIOVK    Male  ...                           0      0
4  6713-OKOMC  Female  ...                           1      0

[5 rows x 42 columns]

# 02 EDA
Para familiarizarte con los datos puedes realizar un pequeño análisis exploratorio visual. Puedes usar los métodos .shape, .info(), .describe(), por ejemplo para entender su tamaño y sus variables. 

Recuerda que puedes encontrar mis clases sobre análisis exploratorio [aquí](https://github.com/JotaBlanco/TheValley/tree/main/EDA/).

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 42 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               5043 non-null   object
 1   gender                                   5043 non-null   object
 2   SeniorCitizen                            5043 non-null   int64
 3   Partner                                  5043 non-null   int64
 4   Dependents                               5043 non-null   int64
 5   tenure                                   5043 non-null   int64
 6   PhoneService                             5043 non-null   int64
 7   PaperlessBilling                         5043 non-null   int64
 8   MonthlyCharges                           5043 non-null   float64
 9   TotalCharges                             5033 non-null   float64
 10  MultipleLines_No                         5043 non-null   int64
 11  MultipleLines_No phone service           5043 non-null   int64
 12  MultipleLines_Yes                        5043 non-null   int64
 13  InternetService_DSL                      5043 non-null   int64
 14  InternetService_Fiber optic              5043 non-null   int64
 15  InternetService_No                       5043 non-null   int64
 16  StreamingTV_No                           5043 non-null   int64
 17  StreamingTV_No internet service          5043 non-null   int64
 18  StreamingTV_Yes                          5043 non-null   int64
 19  OnlineSecurity_No                        5043 non-null   int64
 20  OnlineSecurity_No internet service       5043 non-null   int64
 21  OnlineSecurity_Yes                       5043 non-null   int64
 22  OnlineBackup_No                          5043 non-null   int64
 23  OnlineBackup_No internet service         5043 non-null   int64
 24  OnlineBackup_Yes                         5043 non-null   int64
 25  DeviceProtection_No                      5043 non-null   int64
 26  DeviceProtection_No internet service     5043 non-null   int64
 27  DeviceProtection_Yes                     5043 non-null   int64
 28  TechSupport_No                           5043 non-null   int64
 29  TechSupport_No internet service          5043 non-null   int64
 30  TechSupport_Yes                          5043 non-null   int64
 31  StreamingMovies_No                       5043 non-null   int64
 32  StreamingMovies_No internet service      5043 non-null   int64
 33  StreamingMovies_Yes                      5043 non-null   int64
 34  Contract_Month-to-month                  5043 non-null   int64
 35  Contract_One year                        5043 non-null   int64
 36  Contract_Two year                        5043 non-null   int64
 37  PaymentMethod_Bank transfer (automatic)  5043 non-null   int64
 38  PaymentMethod_Credit card (automatic)    5043 non-null   int64
 39  PaymentMethod_Electronic check           5043 non-null   int64
 40  PaymentMethod_Mailed check               5043 non-null   int64
 41  Churn                                    5043 non-null   int64
dtypes: float64(2), int64(38), object(2)
memory usage: 1.6+ MB

In [13]:
df.describe()

       SeniorCitizen      Partner  ...  PaymentMethod_Mailed check        Churn
count    5043.000000  5043.000000  ...                 5043.000000  5043.000000
mean        0.162205     0.481459  ...                    0.230617     0.269086
std         0.368675     0.499706  ...                    0.421269     0.443529
min         0.000000     0.000000  ...                    0.000000     0.000000
25%         0.000000     0.000000  ...                    0.000000     0.000000
50%         0.000000     0.000000  ...                    0.000000     0.000000
75%         0.000000     1.000000  ...                    0.000000     1.000000
max         1.000000     1.000000  ...                    1.000000     1.000000

[8 rows x 40 columns]

# 03 Preparación de los datos
Normalmente el dataframe contiene nulos, así como variables categóricas y presencia de ciertas variables que probablemente no queramos usar. 

Necesitamos limpiarlo antes de poder entrenar los modelos.

### 0301 Variables Útiles
De entre las variables disponibles, quedémonos con la que queramos utilizar como predictoras para el estudio.

OJO, todas las transformaciones que hagamos sobre el dataset de entrenamiento debereis hacerlas también sobre el de submisión.

In [14]:
df.head()

   customerID  gender  ...  PaymentMethod_Mailed check  Churn
0  3668-QPYBK    Male  ...                           1      1
1  9237-HQITU  Female  ...                           0      1
2  9305-CDSKC  Female  ...                           0      1
3  1452-KIOVK    Male  ...                           0      0
4  6713-OKOMC  Female  ...                           1      0

[5 rows x 42 columns]

In [15]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'MultipleLines_No', 'MultipleLines_No phone service',
       'MultipleLines_Yes', 'InternetService_DSL',
       'InternetService_Fiber optic', 'InternetService_No', 'StreamingTV_No',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'OnlineSecurity_No', 'OnlineSecurity_No internet service',
       'OnlineSecurity_Yes', 'OnlineBackup_No',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No', 'DeviceProtection_No internet service',
       'DeviceProtection_Yes', 'TechSupport_No',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'Churn'],
      dtype='object')

In [16]:
cols = ['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'MultipleLines_No', 'MultipleLines_No phone service',
       'MultipleLines_Yes', 'InternetService_DSL',
       'InternetService_Fiber optic', 'InternetService_No', 'StreamingTV_No',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'OnlineSecurity_No', 'OnlineSecurity_No internet service',
       'OnlineSecurity_Yes', 'OnlineBackup_No',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No', 'DeviceProtection_No internet service',
       'DeviceProtection_Yes', 'TechSupport_No',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check']

cat_cols = ['gender']

In [17]:
df = df[cols+['Churn']]

### 030102 Dumificación de variables categóricas
Recuerda que debemos transformar las variables categóricas para convertirlas en numéricas.

In [18]:
df = pd.get_dummies(df[cols+['Churn']], 
                    prefix_sep='_',
                    drop_first=True, 
                    columns=cat_cols)

display(df.shape)

df.head()

(5043, 41)

   SeniorCitizen  Partner  ...  Churn  gender_Male
0              0        0  ...      1            1
1              0        0  ...      1            0
2              0        0  ...      1            0
3              0        0  ...      0            1
4              0        0  ...      0            0

[5 rows x 41 columns]

### 030103 Limpieza de nulos
Recuerda que puedes mirarlo con dataframe.isna().sum() y si sí hay nulos, puedes rellenarlos con el método .fillna().

In [19]:
df.isna().sum()

SeniorCitizen                               0
Partner                                     0
Dependents                                  0
tenure                                      0
PhoneService                                0
PaperlessBilling                            0
MonthlyCharges                              0
TotalCharges                               10
MultipleLines_No                            0
MultipleLines_No phone service              0
MultipleLines_Yes                           0
InternetService_DSL                         0
InternetService_Fiber optic                 0
InternetService_No                          0
StreamingTV_No                              0
StreamingTV_No internet service             0
StreamingTV_Yes                             0
OnlineSecurity_No                           0
OnlineSecurity_No internet service          0
OnlineSecurity_Yes                          0
OnlineBackup_No                             0
OnlineBackup_No internet service            0
OnlineBackup_Yes                            0
DeviceProtection_No                         0
DeviceProtection_No internet service        0
DeviceProtection_Yes                        0
TechSupport_No                              0
TechSupport_No internet service             0
TechSupport_Yes                             0
StreamingMovies_No                          0
StreamingMovies_No internet service         0
StreamingMovies_Yes                         0
Contract_Month-to-month                     0
Contract_One year                           0
Contract_Two year                           0
PaymentMethod_Bank transfer (automatic)     0
PaymentMethod_Credit card (automatic)       0
PaymentMethod_Electronic check              0
PaymentMethod_Mailed check                  0
Churn                                       0
gender_Male                                 0
dtype: int64

In [22]:
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())

In [23]:
df.isna().sum()

SeniorCitizen                              0
Partner                                    0
Dependents                                 0
tenure                                     0
PhoneService                               0
PaperlessBilling                           0
MonthlyCharges                             0
TotalCharges                               0
MultipleLines_No                           0
MultipleLines_No phone service             0
MultipleLines_Yes                          0
InternetService_DSL                        0
InternetService_Fiber optic                0
InternetService_No                         0
StreamingTV_No                             0
StreamingTV_No internet service            0
StreamingTV_Yes                            0
OnlineSecurity_No                          0
OnlineSecurity_No internet service         0
OnlineSecurity_Yes                         0
OnlineBackup_No                            0
OnlineBackup_No internet service           0
OnlineBackup_Yes                           0
DeviceProtection_No                        0
DeviceProtection_No internet service       0
DeviceProtection_Yes                       0
TechSupport_No                             0
TechSupport_No internet service            0
TechSupport_Yes                            0
StreamingMovies_No                         0
StreamingMovies_No internet service        0
StreamingMovies_Yes                        0
Contract_Month-to-month                    0
Contract_One year                          0
Contract_Two year                          0
PaymentMethod_Bank transfer (automatic)    0
PaymentMethod_Credit card (automatic)      0
PaymentMethod_Electronic check             0
PaymentMethod_Mailed check                 0
Churn                                      0
gender_Male                                0
dtype: int64

### 030104 Estandarización
Estandarizamos las variables numéricas.

### 030105 Train - test

In [ ]:
# Primero generamos la matriz X con las variables predictoras 
# y el vector y con la variable a predecir
X = df.drop('Churn',axis=1)
y = df['Churn']

# Comprueba sus tamaños
X.shape, y.shape

In [ ]:
# Haz la partición train-test
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.33,
                                                    random_state=42)

# Comprueba sus tamaños
X_train.shape, X_test.shape, y_train.shape, y_test.shape

# 04 Entrena un modelo
Entrena un modelo y evalúa su calidad. Ten en cuenta todo lo que hemos visto: calidad de la predicción, posibilidad de overfitting...
Puedes utilizar cualquier tipo de modelo de los que se han visto en el máster hasta ahora. Por ejemplo:
- Árboles de decisión: http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html.
- Random Forests: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html.
- Gradient Boosting: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html.
- AdaBoost: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostRegressor.html.
- XGBoost: https://xgboost.readthedocs.io/en/latest/parameter.html.

# 05 Predicción
Realiza una predicción con tu mejor modelo sobre el dataset df_submit. 

Luego, quédate con dos columnas: 


*   La identificadora: 'customerID'
*   La predicción: 'prediction'


Guarda el archivo y súbelo [aquí](https://drive.google.com/drive/folders/1CWoVRO5N7lx-eTmvd4Aa94z8fS1ASrI5?usp=sharing) con el nombre de archivo identificador_personal.csv donde el identificador_personal es el nombre que aparecerá con tu predicción: puede ser tu nombre, o cualquier mote si no quieres que se sepa cuál es tu predicción.

In [ ]:
ejemplo_archivo = pd.DataFrame({
    'customerID': ['3668-QPYBK', '9237-HQITU', '9305-CDSKC'], 
    'prediction': [1, 0, 0]})
ejemplo_archivo

   customerID  prediction
0  3668-QPYBK           1
1  9237-HQITU           0
2  9305-CDSKC           0