<a href="https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Arboles/Clase_01_Arboles/01_%C3%81rboles_Decisi%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01 INTRO: Análisis Univariante 
Explicación de cómo realizar análisis univariantes.

Notebook por [Javier Blanco Cordero](https://www.linkedin.com/in/javier-blanco-cordero-71373656/).

### Enlaces de interés
*   [Slides de presentación](https://docs.google.com/presentation/d/16tnAAaiT6mrelG8zRg26crXAChWmzjOG2NyA0oyh4X0/edit?usp=sharing)
*   [Enlace a este notebook en Colab](https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Notebooks/03-analisis-univariante-causal-multivariante/03_A___Analisis_univariante.ipynb)

## 0101 Qué es un árbol de decisión?
Un tipo de algoritmo de aprendizaje supervisado que se basa en realizar particiones a partir de distintos niveles de las variables disponibles.

## 0102 Import
Importamos todas las librerías necesarias para este análisis ([¿No sabes lo que es una librería de Python?](https://www.quora.com/What-is-a-Python-library-and-what-can-I-use-it-for)): pandas, numpy, seaborn, matplotlib.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 0103 Carga el dataset de accidentes cardiacos
Para probar a hacer árboles de decisión utilizaremos un dataset sobre accidentes coronarios que he encontrado en Kaggle ([aquí](https://www.kaggle.com/andrewmvd/heart-failure-clinical-data)). 

Podéis encontrar el archivo listo para importar en mi github: 'https://raw.githubusercontent.com/JotaBlanco/TheValley/main/Data/heart_failure.csv'. 

Importa este dataset en un dataframe llamado **df**.

In [15]:
# Url archivo raw
url = 'https://raw.githubusercontent.com/JotaBlanco/TheValley/main/Data/heart_failure.csv'

# Importa csv
df = pd.read_csv(url)

# Visualización primeras filas
df.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

# 02 EDA
Realizaremos un pequeño análisis exploratorio visual para familiarizarnos con el dataset. 

Recuerda que puedes encontrar mis clases sobre análisis exploratorio [aquí](https://github.com/JotaBlanco/TheValley/tree/main/EDA/).

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

# 03 Construcción árbol de decisión a mano
Nunca lo haremos en la vida real, pero para afianzar el entendimiento de este tipo de algoritmos, vamos a reproducir el proceso de entrenamiento a mano.

## 0301 DataFrame
Para simplificar, haremos esto con un dataframe consistente solo en las columnas ['age', 'anaemia', 'serum_creatinine', 'DEATH_EVENT'] renombradas como ['Edad', 'Anemia', 'Serum', 'Fallece'].

In [17]:
df_resumen = df[['age', 'anaemia', 'serum_creatinine', 'DEATH_EVENT']]
df_resumen.columns = ['Edad', 'Anemia', 'Serum', 'Fallece']
df_resumen.sample(10).reset_index(drop=True)

     Edad  Anemia  Serum  Fallece
0  50.000       1    1.2        0
1  65.000       1    0.8        0
2  60.000       0    0.6        1
3  72.000       1    1.7        1
4  52.000       1    1.0        0
5  50.000       0    1.6        0
6  65.000       1    1.1        0
7  70.000       0    0.8        0
8  60.000       1    1.0        0
9  60.667       1    1.5        1

## 0301 Seleccionamos el nodo raíz
Para seleccionar el nodo raíz generaremos árboles muy sencillos, de solo 3 nodos (una sola partición).

### 030101 Variable categórica
Probamos a generar un árbol de sólo dos particiones.

In [13]:
df_i = df_resumen.groupby('Anemia')['Fallece'].agg(['count', 'sum']).reset_index()
df_i.columns = ['Anemia', 'Total', 'Fallece = 1']
df_i['Fallece = 0'] = df_i['Total'] - df_i['Fallece = 1']
df_i['Mean'] = np.round(df_i['Fallece = 1']/df_i['Total'], 4)
df_i

   Anemia  Total  Fallece = 1  Fallece = 0    Mean
0       0    170           50          120  0.2941
1       1    129           46           83  0.3566

### 030102 Variable Continua
Las variables continuas pueden dar lugar a diversos árboles.

In [22]:
df_i = df_resumen.copy(deep=True)

filtro_i = df_i['Anemia'] == 1
nombre_filtro_True = 'Anemia = 1'
nombre_filtro_Falso = 'Anemia = 0'

df_i['Filtro_i'] = filtro_i.replace({True: nombre_filtro_True, False: nombre_filtro_Falso})
df_i = df_i.groupby('Filtro_i')['Fallece'].agg(['count', 'sum']).reset_index()
df_i.columns = ['Filtro_i', 'Total', 'Fallece = 1']
df_i['Fallece = 0'] = df_i['Total'] - df_i['Fallece = 1']
df_i['Mean'] = np.round(df_i['Fallece = 1']/df_i['Total'], 4)
df_i

     Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0  Anemia = 0    170           50          120  0.2941
1  Anemia = 1    129           46           83  0.3566

In [23]:
df_i = df_resumen.copy(deep=True)
var = 'Edad'
valor = df_i[var].quantile(0.5)

filtro_i = df_i[var] >= valor
nombre_filtro_True = str(var) + ' >= ' + str(round(valor,2))
nombre_filtro_Falso = str(var) + ' < ' + str(round(valor,2))

df_i['Filtro_i'] = filtro_i.replace({True: nombre_filtro_True, False: nombre_filtro_Falso})
df_i = df_i.groupby('Filtro_i')['Fallece'].agg(['count', 'sum']).reset_index()
df_i.columns = ['Filtro_i', 'Total', 'Fallece = 1']
df_i['Fallece = 0'] = df_i['Total'] - df_i['Fallece = 1']
df_i['Mean'] = np.round(df_i['Fallece = 1']/df_i['Total'], 4)
df_i

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 60.0    129           31           98  0.2403
1  Edad >= 60.0    170           65          105  0.3824

In [35]:
var = 'Edad'
valores_unicos = sorted(df_resumen[var].unique())

for i, valor in enumerate(valores_unicos[1:]):
  df_i = df_resumen.copy(deep=True)
  valor = 0.5*valor + 0.5*valores_unicos[i]
  print(valor)
  
  filtro_i = df_i[var] >= valor
  nombre_filtro_True = str(var) + ' >= ' + str(round(valor,2))
  nombre_filtro_Falso = str(var) + ' < ' + str(round(valor,2))

  df_i['Filtro_i'] = filtro_i.replace({True: nombre_filtro_True, False: nombre_filtro_Falso})
  df_i = df_i.groupby('Filtro_i')['Fallece'].agg(['count', 'sum']).reset_index()
  df_i.columns = ['Filtro_i', 'Total', 'Fallece = 1']
  df_i['Fallece = 0'] = df_i['Total'] - df_i['Fallece = 1']
  df_i['Mean'] = np.round(df_i['Fallece = 1']/df_i['Total'], 4)
  display(df_i)

40.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 40.5      7            0            7  0.0000
1  Edad >= 40.5    292           96          196  0.3288

41.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 41.5      8            0            8  0.0000
1  Edad >= 41.5    291           96          195  0.3299

42.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 42.5     15            1           14  0.0667
1  Edad >= 42.5    284           95          189  0.3345

43.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 43.5     16            1           15  0.0625
1  Edad >= 43.5    283           95          188  0.3357

44.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 44.5     18            1           17  0.0556
1  Edad >= 44.5    281           95          186  0.3381

45.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 45.5     37            7           30  0.1892
1  Edad >= 45.5    262           89          173  0.3397

46.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 46.5     40            8           32  0.2000
1  Edad >= 46.5    259           88          171  0.3398

47.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 47.5     41            8           33  0.1951
1  Edad >= 47.5    258           88          170  0.3411

48.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 48.5     43           10           33  0.2326
1  Edad >= 48.5    256           86          170  0.3359

49.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 49.5     47           11           36  0.2340
1  Edad >= 49.5    252           85          167  0.3373

50.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 50.5     74           19           55  0.2568
1  Edad >= 50.5    225           77          148  0.3422

51.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 51.5     78           20           58  0.2564
1  Edad >= 51.5    221           76          145  0.3439

52.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 52.5     83           20           63  0.2410
1  Edad >= 52.5    216           76          140  0.3519

53.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 53.5     93           21           72  0.2258
1  Edad >= 53.5    206           75          131  0.3641

54.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 54.5     95           22           73  0.2316
1  Edad >= 54.5    204           74          130  0.3627

55.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 55.5    112           25           87  0.2232
1  Edad >= 55.5    187           71          116  0.3797

56.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 56.5    113           25           88  0.2212
1  Edad >= 56.5    186           71          115  0.3817

57.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 57.5    115           26           89  0.2261
1  Edad >= 57.5    184           70          114  0.3804

58.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 58.5    125           28           97  0.2240
1  Edad >= 58.5    174           68          106  0.3908

59.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 59.5    129           31           98  0.2403
1  Edad >= 59.5    170           65          105  0.3824

60.3335

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 60.33    162           44          118  0.2716
1  Edad >= 60.33    137           52           85  0.3796

60.8335

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 60.83    164           45          119  0.2744
1  Edad >= 60.83    135           51           84  0.3778

61.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 61.5    168           45          123  0.2679
1  Edad >= 61.5    131           51           80  0.3893

62.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 62.5    173           46          127  0.2659
1  Edad >= 62.5    126           50           76  0.3968

63.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 63.5    181           46          135  0.2541
1  Edad >= 63.5    118           50           68  0.4237

64.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 64.5    184           46          138  0.2500
1  Edad >= 64.5    115           50           65  0.4348

65.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 65.5    210           54          156  0.2571
1  Edad >= 65.5     89           42           47  0.4719

66.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 66.5    212           54          158  0.2547
1  Edad >= 66.5     87           42           45  0.4828

67.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 67.5    214           54          160  0.2523
1  Edad >= 67.5     85           42           43  0.4941

68.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 68.5    219           56          163  0.2557
1  Edad >= 68.5     80           40           40  0.5000

69.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 69.5    222           58          164  0.2613
1  Edad >= 69.5     77           38           39  0.4935

71.0

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 71.0    247           65          182  0.2632
1  Edad >= 71.0     52           31           21  0.5962

72.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 72.5    254           70          184  0.2756
1  Edad >= 72.5     45           26           19  0.5778

74.0

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 74.0    258           71          187  0.2752
1  Edad >= 74.0     41           25           16  0.6098

76.0

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 76.0    269           77          192  0.2862
1  Edad >= 76.0     30           19           11  0.6333

77.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 77.5    271           78          193  0.2878
1  Edad >= 77.5     28           18           10  0.6429

78.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 78.5    273           78          195  0.2857
1  Edad >= 78.5     26           18            8  0.6923

79.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 79.5    274           78          196  0.2847
1  Edad >= 79.5     25           18            7  0.7200

80.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 80.5    281           83          198  0.2954
1  Edad >= 80.5     18           13            5  0.7222

81.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 81.5    282           83          199  0.2943
1  Edad >= 81.5     17           13            4  0.7647

83.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 83.5    285           86          199  0.3018
1  Edad >= 83.5     14           10            4  0.7143

85.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 85.5    291           89          202  0.3058
1  Edad >= 85.5      8            7            1  0.8750

86.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 86.5    292           90          202  0.3082
1  Edad >= 86.5      7            6            1  0.8571

88.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 88.5    293           91          202  0.3106
1  Edad >= 88.5      6            5            1  0.8333

92.0

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 92.0    296           93          203  0.3142
1  Edad >= 92.0      3            3            0  1.0000

94.5

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Edad < 94.5    297           94          203  0.3165
1  Edad >= 94.5      2            2            0  1.0000

In [36]:
var = 'Serum'
valores_unicos = sorted(df_resumen[var].unique())

for i, valor in enumerate(valores_unicos[1:]):
  df_i = df_resumen.copy(deep=True)
  valor = 0.5*valor + 0.5*valores_unicos[i]
  print(valor)
  
  filtro_i = df_i[var] >= valor
  nombre_filtro_True = str(var) + ' >= ' + str(round(valor,2))
  nombre_filtro_Falso = str(var) + ' < ' + str(round(valor,2))

  df_i['Filtro_i'] = filtro_i.replace({True: nombre_filtro_True, False: nombre_filtro_Falso})
  df_i = df_i.groupby('Filtro_i')['Fallece'].agg(['count', 'sum']).reset_index()
  df_i.columns = ['Filtro_i', 'Total', 'Fallece = 1']
  df_i['Fallece = 0'] = df_i['Total'] - df_i['Fallece = 1']
  df_i['Mean'] = np.round(df_i['Fallece = 1']/df_i['Total'], 4)
  display(df_i)

0.55

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 0.55      1            0            1  0.0000
1  Serum >= 0.55    298           96          202  0.3221

0.6499999999999999

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 0.65      5            2            3  0.4000
1  Serum >= 0.65    294           94          200  0.3197

0.725

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 0.72     24            3           21  0.1250
1  Serum >= 0.72    275           93          182  0.3382

0.775

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 0.78     25            3           22  0.1200
1  Serum >= 0.78    274           93          181  0.3394

0.8500000000000001

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 0.85     49            4           45  0.0816
1  Serum >= 0.85    250           92          158  0.3680

0.95

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 0.95     81            9           72  0.1111
1  Serum >= 0.95    218           87          131  0.3991

1.05

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.05    131           24          107  0.1832
1  Serum >= 1.05    168           72           96  0.4286

1.1400000000000001

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.14    163           33          130  0.2025
1  Serum >= 1.14    136           63           73  0.4632

1.19

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.19    174           33          141  0.1897
1  Serum >= 1.19    125           63           62  0.5040

1.25

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.25    198           42          156  0.2121
1  Serum >= 1.25    101           54           47  0.5347

1.35

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.35    218           49          169  0.2248
1  Serum >= 1.35     81           47           34  0.5802

1.45

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.45    227           51          176  0.2247
1  Serum >= 1.45     72           45           27  0.6250

1.55

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.55    232           53          179  0.2284
1  Serum >= 1.55     67           43           24  0.6418

1.65

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.65    238           56          182  0.2353
1  Serum >= 1.65     61           40           21  0.6557

1.75

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.75    247           60          187  0.2429
1  Serum >= 1.75     52           36           16  0.6923

1.815

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.82    251           61          190  0.2430
1  Serum >= 1.82     48           35           13  0.7292

1.865

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.86    259           69          190  0.2664
1  Serum >= 1.86     40           27           13  0.6750

1.95

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 1.95    264           74          190  0.2803
1  Serum >= 1.95     35           22           13  0.6286

2.05

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 2.05    265           75          190  0.2830
1  Serum >= 2.05     34           21           13  0.6176

2.1500000000000004

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 2.15    270           78          192  0.2889
1  Serum >= 2.15     29           18           11  0.6207

2.25

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 2.25    271           79          192  0.2915
1  Serum >= 2.25     28           17           11  0.6071

2.3499999999999996

        Filtro_i  Total  Fallece = 1  Fallece = 0   Mean
0   Serum < 2.35    274           80          194  0.292
1  Serum >= 2.35     25           16            9  0.640

2.45

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 2.45    276           81          195  0.2935
1  Serum >= 2.45     23           15            8  0.6522

2.6

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 2.6    279           84          195  0.3011
1  Serum >= 2.6     20           12            8  0.6000

2.8

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 2.8    282           85          197  0.3014
1  Serum >= 2.8     17           11            6  0.6471

2.95

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 2.95    283           86          197  0.3039
1  Serum >= 2.95     16           10            6  0.6250

3.1

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 3.1    285           88          197  0.3088
1  Serum >= 3.1     14            8            6  0.5714

3.3

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 3.3    286           88          198  0.3077
1  Serum >= 3.3     13            8            5  0.6154

3.45

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 3.45    287           88          199  0.3066
1  Serum >= 3.45     12            8            4  0.6667

3.6

       Filtro_i  Total  Fallece = 1  Fallece = 0   Mean
0   Serum < 3.6    289           89          200  0.308
1  Serum >= 3.6     10            7            3  0.700

3.75

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 3.75    290           90          200  0.3103
1  Serum >= 3.75      9            6            3  0.6667

3.9

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 3.9    291           90          201  0.3093
1  Serum >= 3.9      8            6            2  0.7500

4.2

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 4.2    292           91          201  0.3116
1  Serum >= 4.2      7            5            2  0.7143

4.7

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 4.7    293           92          201  0.3140
1  Serum >= 4.7      6            4            2  0.6667

5.4

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 5.4    294           92          202  0.3129
1  Serum >= 5.4      5            4            1  0.8000

5.949999999999999

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 5.95    295           93          202  0.3153
1  Serum >= 5.95      4            3            1  0.7500

6.449999999999999

        Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 6.45    296           93          203  0.3142
1  Serum >= 6.45      3            3            0  1.0000

7.9

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 7.9    297           94          203  0.3165
1  Serum >= 7.9      2            2            0  1.0000

9.2

       Filtro_i  Total  Fallece = 1  Fallece = 0    Mean
0   Serum < 9.2    298           95          203  0.3188
1  Serum >= 9.2      1            1            0  1.0000