<a href="https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/EDA/01-proceso-analisis-exploratorio/EJERCICIO_1__proceso_analisis_exploratorio_sin_resolver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EJERCICIO 1: Proceso Análisis Exploratorio 
Ejercicio para practicar la introducción al EDA (Exploratory Data Analysis).

Notebook por [Javier Blanco Cordero](https://www.linkedin.com/in/javier-blanco-cordero-71373656/).

### Enlaces de interés
*   [Slides de presentación](https://docs.google.com/presentation/d/1IT6OVy9YS_sbgHF2oU9D0L--fZiyUfij7NxVhu3cAdg/edit?usp=sharing)
*   [Enlace a notebook con introducción al EDA](https://colab.research.google.com/drive/1B37GMOCjKQ0S8NoRI6lALEW9EZtE0Hit#scrollTo=R53FGLN8jo1L)
*   [Enlace a este notebook en Colab](https://colab.research.google.com/drive/1aZXkcqmcyM_tWf1VyYY68FkvAlpEUqMc#scrollTo=R53FGLN8jo1L)
*   [Enlace al notebook con este ejercicio resuelto](https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Notebooks/01-proceso-analisis-exploratorio/EJERCICIO_1__proceso_analisis_exploratorio.ipynb)

# Objetivo: EDA TITANIC
Uno de los datasets más famosos para aprender ciencia de datos es el del Titanic. Contiene un resgistro real de las personas que embarcaron en el mismo, con variables como sexo, edad, tipo de billete... y la más truculenta de todas: si esa persona falleció o no. 

En este ejercicio estudiaremos haremos un análisis exploratorio de este Dataset.

# 01 Import
Importamos pandas y numpy.

# 02 Load Data
Como ya hemos comentado, Kaggle es uno de los lugares de referencia para estudiar ciencia de datos. Entra en Kaggle, busca el dataset del Titanic y cárgalo este Notebook como tu prefieras.

(Probablemente encuentres dos: train y test, por ahora podemos quedarnos con el train). Cárgalo a un dataframe con el nombre 'df'.

# 03 Basic checks
Una vez se han importado los datos, haz las comprobaciones básicas pertinentes para conocer el tamaño de la tabla, columnas presentes, visualizar algunos datos, conocer el tipo de dato de cada variable, etc.

## 0301 Vista previa
Visualiza, fijándote en cada variable:


1.   Las 5 primeras filas
2.   Las 3 últimas filas
3.   Las filas 300 a 305

## 0302 Tamaño
Cuantos pasajeros hay? Y cuántas variables?

## 0303 Tipos de datos
Qué tipos de datos contiene nuestro dataframe?

# 04 Limpieza de Nulos
Los nulos son habituales y un poco molestos. Constituyen una pérdida de información y pueden impedir ciertos cálculos.

Es importante detectarlos y, cuando sea posible, corregirlos.

## 0401 Nulos por variable
Cuántos nulos hay en cada variables?

## 0402 Explorar Nulos
Cuando sea posible es recomendable entender la causa de los nulos. Hay algún patrón que se repite entre ellos?

Veámoslo para cada una de las variables con nulos:

## 0403 Tratamiento de Nulos
Una vez hemos detectado los nulos presentes en la tabla podemos corregirlos de varias formas.

### 040301 Corrección de nulos 'Age'
No parece haber una causa evidente para que algunas edades no estén imputadas. Es una variable numérica que debemos rellenar también con valores numéricos. 
De más sencillo a más complejo, podríamos:


1.   Rellenar los nulos con la mediana de los valores de edad no nulos
2.   Rellenar los nulos de las mujeres con la mediana de edad de éstas, y los hombres con la suya
3.   Rellenar los nulos sirviéndonos del título en el nombre, utilizando la mediana del resto de pasajeros con el mismo título.

### 040302 Corrección de nulos 'Embarked'
Solo hay dos nulos aquí, así que vamos a eliminar estas dos filas.

In [ ]:
# En cuanto a la columna 'Cabin', hay muchos nulos. Es además una 
# columna no numérica, así que vamos a dejarlos sin tocar al menos de momento.

# 05 Limpieza de datos
A veces los datos se encuentran en formatos no adecuados.Pero esta vez no es así :). 

Sí podemos eliminar la columna PassengerId, que es redundante con el índice.

# 06 Distribución de variables
Veamos cómo se distribuyen los valores del dataframe.

## 0601 Variables numéricas
En cuanto a las variables de tipo numérico, cuáles son su media y estadísticos más importantes.

## 0602 Variables categóricas
Aquellas que pueden adoptar valores finitos.

# 07 Preguntas sobre el dataset

De entre todos los pasajeros, 
### Qué % falleció?

Es bastante famoso lo de "mujeres y niños" primero, sería cierto en el caso del Titanic?
### Qué % de mujeres y hombres fallecieron?
### Qué % de niños (menores de 10) y adultos (mayores) fallecieron?

Pues parece que en el Titanic sí se cumplió lo de "mujeres y niños primero". En la película también se salvaba más la gente de clase alta, con dinero, será cierto?
### Qué % fallece según su clase de billete (1, 2, 3)?

Incidamos en esto.

### Qué % fallece entre los 50 que pagaron más por su billete y los 50 que menos?

Los pasajeros embarcaron desde 3 puertos,

### En alguno falleció más porcentaje de gente que en el resto?