<a href="https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Notebooks/01-proceso-analisis-exploratorio/01___Proceso_analisis_exploratorio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRO: Proceso Análisis Exploratorio 
Introducción al EDA (Exploratory Data Analysis).

Notebook por [Javier Blanco Cordero](https://www.linkedin.com/in/javier-blanco-cordero-71373656/).

### Enlaces de interés
*   [Slides de presentación](https://docs.google.com/presentation/d/1IT6OVy9YS_sbgHF2oU9D0L--fZiyUfij7NxVhu3cAdg/edit?usp=sharing)
*   [Enlace a este notebook en Colab](https://colab.research.google.com/drive/1B37GMOCjKQ0S8NoRI6lALEW9EZtE0Hit#scrollTo=R53FGLN8jo1L)

# 01 Import
Importamos todas las librerías necesarias para este análisis ([¿No sabes lo que es una librería de Python?](https://www.quora.com/What-is-a-Python-library-and-what-can-I-use-it-for)).

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 02 Load Data
El primer paso para analizar datos es, claro, importarlos. Esto no es siempre trivial, especialmente trabajando con Colab ya que nuestro notebook está en la nube de Google y hay que conseguir hacer llegar los datos allí también. 

Vamos a ver [varias formas de importar](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92) datos en Colab.


*   Importar una tabla desde Github (< 25MB)
*   Cargar (y luego importar) una tabla de nuestro local
*   Importar una tabla de Google Drive
*   Importar una tabla de Kaggle

## 0201 Importar una tabla desde GitHub

Es posible importar una tabla que guardemos en GitHub ([¿No sabes lo que es GitHub?](https://guides.github.com/activities/hello-world/)). 

Éstas deben ser pequeñas (<25MB).

1.   Las tablas deben ser pequeñas, pues GitHub no permite archivos mayores de 100MB 
2.   Localiza la tabla en un repositorio tuyo o público
3.   Pulsa en la opción RAW y copia el link de la dirección resultante
4.   Importa los datos utilizando pd.read_csv(link_raw)

### 020101 EJEMPLO 1: Covid-19
La universidad Johns Hopkins (USA) viene recopilando datos de la mayor fiabilidad posible sobre los casos y muertes confirmados por covid-19 mundialmente. Los datos son públicos y se actualizan diariamente en [su repositorio de GitHub](https://github.com/CSSEGISandData/COVID-19).

Dentro de este repositorio, hay diversos datasets, fuentes, código. Pongamos que nos interesa el dataset de casos confirmados a nivel mundial. 

¿Cómo podemos cargalo en este notebook en un Dataframe llamado df_covid?

In [57]:
# url de archivo raw de casos confirmados
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

# carga el archivo en un dataframe df_covid
df_covid = pd.read_csv(url)

df_covid.head()

  Province/State Country/Region       Lat  ...  1/3/21  1/4/21  1/5/21
0            NaN    Afghanistan  33.93911  ...   51526   53011   53105
1            NaN        Albania  41.15330  ...   59438   59623   60283
2            NaN        Algeria  28.03390  ...  100408  100645  100873
3            NaN        Andorra  42.50630  ...    8192    8249    8308
4            NaN         Angola -11.20270  ...   17642   17684   17756

[5 rows x 354 columns]

## 0202 Importar una tabla local

Es posible importar una tabla que guardemos en nuestro local (en nuestro PC). 

1.   Primero tendremos que subir el archivo de nuestro local a la nube de Google 
2.   Luego generemos un buffer de los datos
3.   Finalmente los importaremos utilizando pd.read_csv()

### 020201 EJEMPLO 2: SP500
Descargad [ese dataset](https://drive.google.com/file/d/1OfTfaCTGtiS27G-uNpDsRgHqFUIaZ3XP/view?usp=sharing) de mi Google Drive personal a vuestro PC. Recoge la evolución diaria histórica del [SP&500](https://en.wikipedia.org/wiki/S%26P_500_Index). 


Ahora que está en vuestro local, ¿Cómo podríamos cargarlo a este notebook?

In [58]:
# Generamos un objeto para subir el archivo
from google.colab import files
uploaded = files.upload()

Saving sp500.csv to sp500 (3).csv

In [59]:
# Convertimos los bytes a formato tabular
import io
buffer_io = io.BytesIO(uploaded['sp500.csv'])


# Cargamos en un dataframe
df_sp500 = pd.read_csv(buffer_io)
df_sp500.head(3)

         Date       Open       High        Low      Close  Adj Close  Volume
0  1927-12-30  17.660000  17.660000  17.660000  17.660000  17.660000       0
1  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0

## 0203 Importar una tabla de Google Drive

Es posible importar una tabla guardada en Google Drive. Requiere:

1.   Emparejar Colab y Google Drive 
2.   Importarlo utilizando pd.read_csv()

### 020301 EJEMPLO 3: Fifa19
Descargad [este dataset](https://drive.google.com/file/d/1_qzowEIMZsLYL1VbeXb9pzSpMkPSRqWb/view?usp=sharing) con las características de los jugadores del Fifa 19 de mi Google Drive personal a vuestro pc y luego subidlo a vuestro Google Drive. 

¿Cómo podríamos cargarlo desde ahí a este notebook?

In [60]:
# Primero emparejamos Colab con Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
# Importamos el archivos usando read_csv()
dir_archivo = '/content/drive/My Drive/Data/Clases/fifa19.csv'
df_fifa19 = pd.read_csv(dir_archivo)
df_fifa19.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

## 0204 EJERCICIO 1: Importar una tabla de varias formas

[Kaggle](https://www.kaggle.com/) es un sitio web imprescindible si estás aprendiendo ciencia de datos. Hay competiciones de machine learning, cursos, posts... 

Y también es un buen sitio para buscar datos, como haremos en esta ocasión. Yo me he fijado en [este](https://www.kaggle.com/miguelsxvi/air-quality-madrid-2001-2020?select=calidad_aire_madrid.csv), que contiene la evolución diaria de la concentración de diversas partículas contaminantes en Madrid. 

Leed la descripción de la página para familiarizaros con Kaggle y descargad el csv a vuestro pc. Luego, probad a cargarlo en este Notebook utilizando las 3 formas que hemos visto. (Para traerlo desde GitHub podéis utilizar [esta copia del archivo en mi GitHub personal](https://github.com/JotaBlanco/TheValley/blob/main/Data/calidad_aire_madrid.csv)). Comparad la velocidad y sencillez de cada método.

In [62]:
# DESDE GITHUB

# url de archivo raw
url = 'https://raw.githubusercontent.com/JotaBlanco/TheValley/main/Data/calidad_aire_madrid.csv'

# carga el archivo en un dataframe df_covid
df_1 = pd.read_csv(url)

df_1.head()

   estacion     fecha  magnitud  nivel
0         4  2001-1-1         1   17.0
1         4  2001-1-2         1   15.0
2         4  2001-1-3         1   15.0
3         4  2001-1-4         1   15.0
4         4  2001-1-5         1   16.0

In [38]:
# DESDE LOCAL

# Generamos un objeto para subir el archivo
from google.colab import files
uploaded = files.upload()

# Convertimos los bytes a formato tabular
import io
buffer_io = io.BytesIO(uploaded['calidad_aire_madrid.csv'])


# Cargamos en un dataframe
df_2 = pd.read_csv(buffer_io)
df_2.head(3)

KeyError: ignored

In [63]:
# DESDE GOOGLE DRIVE

# Primero emparejamos Colab con Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Importamos el archivos usando read_csv()
dir_archivo = '/content/drive/My Drive/Data/Clases/calidad_aire_madrid.csv'
df_3 = pd.read_csv(dir_archivo)
df_3.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   estacion     fecha  magnitud  nivel
0         4  2001-1-1         1   17.0
1         4  2001-1-2         1   15.0
2         4  2001-1-3         1   15.0
3         4  2001-1-4         1   15.0
4         4  2001-1-5         1   16.0

# 03 Basic checks
Una vez se han importado los datos, empezamos realizando comprobaciones básicas: tamaño de la tabla, columnas presentes, etc.

El método dataframe.[info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) es muy útil para esto.

In [64]:
df_sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23323 entries, 0 to 23322
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       23323 non-null  object
 1   Open       23323 non-null  float64
 2   High       23323 non-null  float64
 3   Low        23323 non-null  float64
 4   Close      23323 non-null  float64
 5   Adj Close  23323 non-null  float64
 6   Volume     23323 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.2+ MB

## 0301 Vista previa
Una buena primera comprobación suele ser visualizar la tabla. 

Aquí son muy útiles los métodos dataframe.[head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) y dataframe.[tail()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html).

In [65]:
df_sp500.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  1927-12-30  17.660000  17.660000  17.660000  17.660000  17.660000       0
1  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0
3  1928-01-05  17.549999  17.549999  17.549999  17.549999  17.549999       0
4  1928-01-06  17.660000  17.660000  17.660000  17.660000  17.660000       0

In [66]:
df_sp500.head(2)

         Date   Open   High    Low  Close  Adj Close  Volume
0  1927-12-30  17.66  17.66  17.66  17.66      17.66       0
1  1928-01-03  17.76  17.76  17.76  17.76      17.76       0

In [67]:
df_sp500.tail()

             Date         Open  ...    Adj Close      Volume
23318  2020-10-29  3277.169922  ...  3310.110107  4903070000
23319  2020-10-30  3293.590088  ...  3269.959961  4840450000
23320  2020-11-02  3296.199951  ...  3310.239990  4310590000
23321  2020-11-03  3336.250000  ...  3369.159912  4220070000
23322  2020-11-04  3406.459961  ...  3443.439941  4783040000

[5 rows x 7 columns]

### iloc[filas,columnas]
Filtra el dataframe para quedarse con datos concretos utilizando indices.

In [68]:
df_sp500.iloc[1:3]

         Date       Open       High        Low      Close  Adj Close  Volume
1  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0

In [70]:
df_sp500.iloc[-5:,:5]

             Date         Open         High          Low        Close
23318  2020-10-29  3277.169922  3341.050049  3259.820068  3310.110107
23319  2020-10-30  3293.590088  3304.929932  3233.939941  3269.959961
23320  2020-11-02  3296.199951  3330.139893  3279.739990  3310.239990
23321  2020-11-03  3336.250000  3389.489990  3336.250000  3369.159912
23322  2020-11-04  3406.459961  3486.250000  3405.169922  3443.439941

### loc[filas,columnas]
Filtra el dataframe para quedarse con datos concretos utilizando valores.

In [75]:
df_sp500.loc[2:5, ['Date','Open','Close']]

         Date       Open      Close
2  1928-01-04  17.719999  17.719999
3  1928-01-05  17.549999  17.549999
4  1928-01-06  17.660000  17.660000
5  1928-01-09  17.500000  17.500000

## 0302 Tamaño
El tamaño de las tablas se puede comprobar con dataframe.[shape](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html), que devuelve un tupple (filas, columnas).

In [41]:
df_covid.shape

(272, 354)

In [45]:
# filas
df_covid.shape[0]

272

In [47]:
# filas
len(df_covid)

272

In [46]:
# columnas
df_covid.shape[1]

354

In [43]:
df_sp500.shape

(23323, 7)

In [44]:
df_fifa19.shape

(18207, 89)

## 0303 Tipos de datos
Qué tipos de datos contiene nuestro dataframe?

In [76]:
df_fifa19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [78]:
df_fifa19.head(2)

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M

[2 rows x 89 columns]

In [79]:
type(df_fifa19)

pandas.core.frame.DataFrame

In [80]:
type(df_fifa19['ID'])

pandas.core.series.Series

In [81]:
type(df_fifa19['ID'][0])

numpy.int64

In [82]:
type(df_fifa19['Name'][0])

str

## 0304 Variables
Qué variables tenemos?

In [83]:
df_fifa19.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

# 04 Nulos
Los nulos son habituales y

## 0401 Nulos por variable
Número de nulos po variable.

In [118]:
# Método isna()
df_fifa19.isna().head()

   Unnamed: 0     ID   Name  ...  GKPositioning  GKReflexes  Release Clause
0       False  False  False  ...          False       False           False
1       False  False  False  ...          False       False           False
2       False  False  False  ...          False       False           False
3       False  False  False  ...          False       False           False
4       False  False  False  ...          False       False           False

[5 rows x 89 columns]

In [108]:
df_fifa19.isna().sum()

Unnamed: 0           0
ID                   0
Name                 0
Age                  0
Photo                0
                  ...
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Release Clause    1564
Length: 89, dtype: int64

In [109]:
pd.DataFrame(df_fifa19.isna().sum())

                   0
Unnamed: 0         0
ID                 0
Name               0
Age                0
Photo              0
...              ...
GKHandling        48
GKKicking         48
GKPositioning     48
GKReflexes        48
Release Clause  1564

[89 rows x 1 columns]

In [119]:
def contador_nulos(df):
  """
  Función que devuelve un dataframe indicando el número de nulos en cada
  variables. 
  """
  df_nulos = pd.DataFrame(df.isna().sum())
  df_nulos.columns = ['# Nulos']
  return df_nulos.sort_values('# Nulos', ascending=False)

In [120]:
contador_nulos(df_covid)

                # Nulos
Province/State      188
Lat                   1
Long                  1
9/7/20                0
9/16/20               0
...                 ...
5/14/20               0
5/13/20               0
5/12/20               0
5/11/20               0
1/5/21                0

[354 rows x 1 columns]

In [121]:
contador_nulos(df_sp500)

           # Nulos
Date             0
Open             0
High             0
Low              0
Close            0
Adj Close        0
Volume           0

In [130]:
df_contador = contador_nulos(df_fifa19)
df_contador.head()

             # Nulos
Loaned From    16943
LWB             2085
LCM             2085
RS              2085
LW              2085

## 0402 Explorar Nulos

In [127]:
df_covid['Province/State'].isna()

0      True
1      True
2      True
3      True
4      True
       ...
267    True
268    True
269    True
270    True
271    True
Name: Province/State, Length: 272, dtype: bool

In [125]:
df_covid.loc[df_covid['Province/State'].isna()]

    Province/State      Country/Region        Lat  ...  1/3/21  1/4/21  1/5/21
0              NaN         Afghanistan  33.939110  ...   51526   53011   53105
1              NaN             Albania  41.153300  ...   59438   59623   60283
2              NaN             Algeria  28.033900  ...  100408  100645  100873
3              NaN             Andorra  42.506300  ...    8192    8249    8308
4              NaN              Angola -11.202700  ...   17642   17684   17756
..             ...                 ...        ...  ...     ...     ...     ...
267            NaN             Vietnam  14.058324  ...    1494    1497    1504
268            NaN  West Bank and Gaza  31.952200  ...  141219  142228  143169
269            NaN               Yemen  15.552727  ...    2101    2101    2101
270            NaN              Zambia -13.133897  ...   21582   21993   22645
271            NaN            Zimbabwe -19.015438  ...   15265   15829   17194

[188 rows x 354 columns]

In [126]:
df_covid.loc[df_covid['Province/State'].isna()==False]

                   Province/State  Country/Region  ...  1/4/21  1/5/21
8    Australian Capital Territory       Australia  ...     118     118
9                 New South Wales       Australia  ...    4973    4978
10             Northern Territory       Australia  ...      81      87
11                     Queensland       Australia  ...    1262    1263
12                South Australia       Australia  ...     581     582
..                            ...             ...  ...     ...     ...
257   Falkland Islands (Malvinas)  United Kingdom  ...      29      29
258                     Gibraltar  United Kingdom  ...    2513    2626
259                   Isle of Man  United Kingdom  ...     380     386
260                    Montserrat  United Kingdom  ...      13      13
261      Turks and Caicos Islands  United Kingdom  ...     910     918

[84 rows x 354 columns]

In [128]:
df_covid.loc[df_covid['Lat'].isna()]

            Province/State Country/Region  Lat  ...  1/3/21  1/4/21  1/5/21
52  Repatriated Travellers         Canada  NaN  ...      13      13      13

[1 rows x 354 columns]

## 0403 Rellenar Nulos
A veces el nulo se debe a un fallo en la ingesta. En esos casos podemos sustituír el valor nulo por el real, si lo conociéramos.

In [ ]:
.fillna()

# 04 Distribución de variables

In [94]:
df_fifa19.head(2)

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M

[2 rows x 89 columns]

In [ ]:
df_fifa19['Age'], df_fifa19['Overall']

## 0401 Variables numéricas
Variables que adoptan valores numéricos.

In [99]:
df_fifa19.iloc[:,2:].describe()

                Age       Overall  ...  GKPositioning    GKReflexes
count  18207.000000  18207.000000  ...   18159.000000  18159.000000
mean      25.122206     66.238699  ...      16.388898     16.710887
std        4.669943      6.908930  ...      17.034669     17.955119
min       16.000000     46.000000  ...       1.000000      1.000000
25%       21.000000     62.000000  ...       8.000000      8.000000
50%       25.000000     66.000000  ...      11.000000     11.000000
75%       28.000000     71.000000  ...      14.000000     14.000000
max       45.000000     94.000000  ...      90.000000     94.000000

[8 rows x 42 columns]

## Variables categóricas
Aquellas que pueden adoptar valores finitos.

In [95]:
df_fifa19['Nationality'].value_counts()

England                 1662
Germany                 1198
Spain                   1072
Argentina                937
France                   914
                        ...
Liberia                    1
Lebanon                    1
Grenada                    1
Jordan                     1
United Arab Emirates       1
Name: Nationality, Length: 164, dtype: int64

In [96]:
df_fifa19['Preferred Foot'].value_counts()

Right    13948
Left      4211
Name: Preferred Foot, dtype: int64

In [91]:
df_fifa19.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]