<a href="https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Notebooks/01-proceso-analisis-exploratorio/01___Proceso_analisis_exploratorio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRO: Proceso Análisis Exploratorio 
Introducción al EDA (Exploratory Data Analysis).

Notebook por [Javier Blanco Cordero](https://www.linkedin.com/in/javier-blanco-cordero-71373656/).

### Enlaces de interés
*   [Slides de presentación](https://docs.google.com/presentation/d/1IT6OVy9YS_sbgHF2oU9D0L--fZiyUfij7NxVhu3cAdg/edit?usp=sharing)
*   [Enlace a este notebook en Colab](https://colab.research.google.com/drive/1B37GMOCjKQ0S8NoRI6lALEW9EZtE0Hit#scrollTo=R53FGLN8jo1L)

# 01 Import
Importamos todas las librerías necesarias para este análisis ([¿No sabes lo que es una librería de Python?](https://www.quora.com/What-is-a-Python-library-and-what-can-I-use-it-for)).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 02 Load Data
El primer paso para analizar datos es, claro, importarlos. Esto no es siempre trivial, especialmente trabajando con Colab (nuestro notebook está en la nube de Google). 

Vamos a ver [varias formas de importar](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92) datos en Colab.


*   Importar una tabla desde Github (< 25MB)
*   Cargar (y luego importar) una tabla de nuestro local
*   Importar una tabla de Google Drive
*   Importar una tabla de Kaggle

## 0201 Importar una tabla desde GitHub

Es posible importar una tabla que guardemos en GitHub ([¿No sabes lo que es GitHub?](https://guides.github.com/activities/hello-world/)). 

Éstas deben ser pequeñas (<25MB).

1.   Las tablas deben ser pequeñas, pues GitHub no permite archivos mayores de 100MB 
2.   Localiza la tabla en un repositorio tuyo o público
3.   Pulsa en la opción RAW y copia el link de la dirección resultante
4.   Importa los datos utilizando pd.read_csv(link_raw)

### 020101 EJEMPLO 1
Os he dejado un archivo en [mi repositorio de GitHub personal](https://github.com/JotaBlanco/TheValley) que recoge la evolución histórica del [SP&500](https://en.wikipedia.org/wiki/S%26P_500_Index).

Cómo podríamos cargarlo a este notebook?

In [5]:
# url de archivo raw
url = 'https://raw.githubusercontent.com/JotaBlanco/TheValley/main/Data/SP500_historico.csv'

# carga el archivo en un dataframe df_sp500
df_sp500 = pd.read_csv(url)

df_sp500.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1  1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
2  1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
3  1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
4  1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

### 020102 EJERCICIO 1
La universidad Johns Hopkins (USA) viene recopilando datos de la mayor fiabilidad posible sobre los casos y muertes confirmados por covid-19 mundialmente. Los datos son públicos y se actualizan diariamente en [su repositorio de GitHub](https://github.com/CSSEGISandData/COVID-19).

Dentro de este repositorio, encuentra el dataset de casos confirmados a nivel mundial y cargalo en este Notebook en un Dataframe llamado df_covid.

In [3]:
# url de archivo raw de casos confirmados
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

# carga el archivo en un dataframe df_covid
df_covid = pd.read_csv(url)

df_covid.head()

  Province/State Country/Region       Lat  ...  12/24/20  12/25/20  12/26/20
0            NaN    Afghanistan  33.93911  ...     50655     50810     50886
1            NaN        Albania  41.15330  ...     54827     55380     55755
2            NaN        Algeria  28.03390  ...     97007     97441     97857
3            NaN        Andorra  42.50630  ...      7699      7756      7806
4            NaN         Angola -11.20270  ...     17029     17099     17149

[5 rows x 344 columns]

[Kaggle](https://www.kaggle.com/) es un sitio web imprescindible si estás aprendiendo ciencia de datos. Aquí se organizan competiciones de machine learning, cursos, posts... 

Y también es un buen sitio para buscar datos, como haremos en esta ocasión. Conectarse a Kaggle a través de Colab requiere ciertos pasos que resolvemos aquí.